[submodule "appstore-dags"]
	path = appstore-dags
	url = https://github.com/Cubelacke/appstore-dags.git
[submodule "appstore-core"]
	path = appstore-core
	url = https://github.com/Cubelacke/appstore-core.git
[submodule "ingestion-apple-rss"]
	path = ingestion-apple-rss
	url = https://github.com/Cubelacke/ingestion-apple-rss.git
[submodule "ingestion-apple-itunes"]
	path = ingestion-apple-itunes
	url = https://github.com/Cubelacke/ingestion-apple-itunes.git
