[submodule "appstore-dags"]
	path = appstore-dags
	url = https://github.com/Cubelake/appstore-dags.git
[submodule "appstore-core"]
	path = appstore-core
	url = https://github.com/Cubelake/appstore-core.git
[submodule "appstore-transform"]
	path = appstore-transform
	url = https://github.com/Cubelacke/appstore-transform.git
[submodule "ingestion-apple-rss"]
	path = ingestion-apple-rss
	url = https://github.com/Cubelake/ingestion-apple-rss.git
[submodule "ingestion-apple-itunes"]
	path = ingestion-apple-itunes
	url = https://github.com/Cubelake/ingestion-apple-itunes.git
[submodule "infra"]
	path = infra
	url = https://github.com/Cubelake/infra.git
